.content {
  padding: 2*24px;
}

.content .inner {
  max-width: 1000px;
  margin: 0 auto;  
}

.content.dark {
  background: #222;  
  color: #fff;
}
.content.dark h1 {
  font-weight: 400;
}

.content h1 {
  color: #fff;
}

.content p {
  color: rgba(0,0,0, .6);
}

.content figure {
  text-align: center;
  display: block;
}
.content figure img {
  max-width: 600px;
  display: inline-block;
}

.content hr {
  background: rgba(#fff,.4);
  border: 0;
  height: 3px;
  display: block;
  margin: 1.75em auto 3em;
  box-shadow: rgba(#000, .05) 3px 3px 0;
}