.footer {
  background: #222 url(../images/station.jpg) no-repeat center bottom;
  background-size: cover;
}

.footer .content {
  padding: 3em 3em 6em 3em;  
  color: #fff;
}

.footer a {
  color: #fff;
}