.header {
  background: #222 url(../images/station.jpg) no-repeat center center;
  background-size: cover;
}

.header h1 {
  text-shadow: #000 2px 4px 0;  
}

.header .content {
  padding: 3em 3em 1.5em 3em;  
  color: #fff;
}

.header .intro p {
  font-size: $h2-size;
  line-height: 1.5em;
  font-weight: 300;
  padding-top: 3em;
  color: lighten($brand-color, 1%);
  max-width: 640px;

  @media screen and(max-width: 600px) {
    padding-top: 0;
  }

}

.header .intro p strong {
  font-weight: 300;
  color: lighten($brand-color, 50%);
  white-space: nowrap;

  @media screen and(max-width: 700px) {
    white-space: normal;
  }

}

